* {
    font-family: Roboto, sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    background-color: #005B94;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: #004b7a;
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
}

.divElement {
    background-color: #f9faf8;
}

.divHover {
    background-color: #e9ebe8;
}